
.global {
    background-color:white ;
    font-family: 'Roboto', sans-serif;
}
.cinturão img{
    width:200px;
}

.cinturão {
    display: flex;
    margin:50px 0px 50px 10px;
}

.cinturao_status{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.Titulo {
    font-size: large;
    font-weight:lighter;
}